<!DOCTYPE html>
<!--
 INTEGRATED CA - DATA STORAGE SOLUTIONS / COMMERCIAL SOLUTIONS DESIGN
 * Xiaohui Weng - 2020387  
 * Leisly Pino 2020303 
 * Yuri Ribeiro 2020347
 -->
<html>

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="style.css" th:href="@{/style.css}" />
</head>

<body>
	<div>
		<h1>Login</h1>
		<div class="form-body">
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required>
					<br>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required>
					<br>
					<button type="submit">Login</button>
					<span class="error" th:text="${loginError}"></span>

				</div>
		</div>
		</form>
	</div>
</body>

</html>